@model algbotNiger.Models.Articles

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Articles</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preview)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preview)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Highlight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Highlight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainImageSrc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainImageSrc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PublishDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
